.favoirite-title {
  text-align: center;
}

.favoritesList {
  display: flex;
  gap: 1rem;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 5rem;
    width: 50%;
    margin: 0 auto;
  }
}
